[Unit]
Description=Hysteria Client Service (config.yaml)
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until ping -c 1 -w 1 archlinux.org; do sleep 5; done;'
ExecStart=/usr/local/bin/hysteria client --config /etc/hysteria/config.yaml
WorkingDirectory=~
User=hysteria
Group=hysteria
Environment=HYSTERIA_LOG_LEVEL=info
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
