* {
    background-color: #272822;
    color: #f8f8f2;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: SauceCodePro Nerd Font;
    font-size: 14px;
}

.modules-left {
  margin-left: 0px;
}

.modules-right {
  margin-right: 0px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#pulseaudio,
#backlight,
#battery,
#clock,
#tray,
#workspaces {
    min-width: 12px;
    margin: 0 7.5px;
}

#clock {
    margin-left: 8.75px;
}

#tray {
  margin-right: 16px;
}
